## Immutabilty

In [1]:
# Suppose we have a string 

name = 'Tanya'

In [2]:
# name[0] = 'S'
# well in python strings are immutable
# you get an TypeError: 'str' object does not support item assignment

In [3]:
# to do that we can use slicing and concatination

In [4]:
# Here we are using slicing to grab the last letter of the name
last_name = name[1:]

In [5]:
last_name
# Here we get the last letter of the name

'anya'

In [6]:
# now we can do concatination like this

'S' + last_name

'Sanya'

In [7]:
# or we can also print that

print('S' + last_name)

Sanya

### lets take an another example

In [8]:
x = 'Hello World'

In [9]:
x + " i'm learning python"

"Hello World i'm learning python"

In [10]:
# also we can assign this to variable x
# So that whenever we call x we get that
x = x + " i'm learning python"

In [11]:
x

"Hello World i'm learning python"

### one more thing to know

In [12]:
# we are doing string concatination 
# we also can do string multiplication

In [13]:
# Lets see how for example we have 
letter = 'z'

In [14]:
# if i want to type it for 18 times i can do like this 

letter * 18

'zzzzzzzzzzzzzzzzzz'

In [15]:
# And here we get the letter for 18 times

In [16]:
# We can add numbers in python like this 
5+2

7

In [17]:
# but if we add like this 
'2' + '5'

'25'

In [18]:
# they don't get add they gets concatinated because there type is string

In [19]:
# And also you cannot add different type
# Just like this because 2 is a interger value and '5' is a string 
# Both are of different type
# 2 + '5'

# Methods

In [20]:
# lets take a variable x

x = 'Hello World'

In [21]:
#  Python has many built in methods
# To use that we just have to type variable_name.[TAB]
# So we get many types of methods 
# Let me show you one example

In [22]:
x.upper()

# This upper() method will does is it will convert all the letters in upper case 
# But one thing to remeber it will doesn't affet the original one
# to do that we have to reassign it

'HELLO WORLD'

In [23]:
# Just like this
x = x.upper()

In [24]:
x

'HELLO WORLD'

In [25]:
# Same as upper method we can use lower() method
# it will convert every letter in lower case
x.lower()

'hello world'

In [26]:
# also we can use split method

In [27]:
x.split()

['HELLO', 'WORLD']

In [28]:
# Here we are spliting this string on white space
# we can split on whatever we want to
# Let me show you

In [29]:
y = 'this is a test letter and i want to split'

In [30]:
# If we want to split it on letter i we can do like this

y.split('i')

['th', 's ', 's a test letter and ', ' want to spl', 't']

In [31]:
# Here we get the string splited on letter 'i'
# There is lots of method you can try out!

In [32]:
# Soory! if had something wrong or missed something